{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <link
      rel="shortcut icon"
      href="/static/css/icons/stars.png"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static '/css/xactive.css'%}" />
  </head>

  <body>
    <div class="container">
      <div class="menus">
        <!-- /* top-nav-bar content */ -->

        <div class="top-nav-bar">
          <section class="logo">
            <img src="/static/css/icons/stars.png" alt="logo" />
            <h4 class="logoname">m454</h4>
          </section>
          <section class="links">
            <a href="" class="navigate"
              >About
              <hr id="active"
            /></a>
            <a href="{% url 'xactive'%}" class="navigate">Home</a>
            <a href="{% url 'xterminal'%}" class="navigate">Terminal</a>
            <a href="{% url 'dash_content_overview'%}" class="navigate"
              >Overview</a
            >
            <a href="{% url 'sys_manage'%}" class="navigate">Manage</a>
          </section>
        </div>
        <!-- main-board -->
        <div class="board"></div>
      </div>
    </div>
    <div class="container">
      <div class="menus">
        <!-- /* top-nav-bar content */ -->

        <!-- main-board -->
        <div class="board"></div>
      </div>
    </div>

    <div class="container">
      <div class="menus">
        <!-- /* top-nav-bar content */ -->

        <!-- main-board -->
        <div class="board"></div>
      </div>
    </div>
  </body>
</html>
