{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>...</title>
    <link rel="stylesheet" href="{% static '/css/landing2.css'%}" />
  </head>
  <body>
    <div class="container">
      <section class="transparency">
        <div class="c1"></div>
        <div class="c2"></div>
        <div class="screen">
          <div class="heading">
            <h1><strong>Jupiter@3x3c47er..</strong></h1>
            <h2>
              Hello! User, welcome to <span class="bright"> 3x3c47er :</span>
            </h2>
            <h2>we're@your#Service .</h2>
          </div>
          <div class="search">
            <form action="" method="get">
              <!-- {% csrf_token %} -->
              <input
                type="text"
                placeholder="Validate credentials with ID.."
                name="search"
                id="search"
              />
              <input type="submit" value="Check" name="searchBtn" id="btn" />
            </form>
          </div>
          <div class="fieldset1">
            <div class="field">
              <a href="{% url 'xmain'%}">
                <div class="logo">
                  <img src="/static/css/icons/dashboard.svg" alt="" />
                </div>
                <div class="page">
                  <h4>Dashboard.</h4>
                </div>
              </a>
            </div>
            <div class="field">
              <a href="{% url 'xactive'%}">
                <div class="logo">
                  <img src="/static/css/icons/dashboard.svg" alt="" />
                </div>
                <div class="page">
                  <h4>main-board</h4>
                </div>
              </a>
            </div>
            <div class="field">
              <a href="{% url 'xterminal'%}">
                <div class="logo">
                  <img src="/static/css/icons/dashboard.svg" alt="" />
                </div>
                <div class="page">
                  <h4>x-terminal</h4>
                </div>
              </a>
            </div>

            <div class="field">
              <a href="{% url 'root_parent'%}">
                <div class="logo">
                  <img src="/static/css/icons/repo.svg" alt="" />
                </div>
                <div class="page">
                  <h4>Monitoring.</h4>
                </div>
              </a>
            </div>
            <div class="field">
              <a href="{% url 'xplatform'%}">
                <div class="logo">
                  <img src="/static/css/icons/chat.svg" alt="" />
                </div>
                <div class="page">
                  <h4>platform.</h4>
                </div>
              </a>
            </div>
            <div class="field">
              <a class="settings">
                <div class="logo">
                  <img src="/static/css/icons/events.svg" alt="" />
                </div>
                <div class="page">
                  <h4>Create a comment.</h4>
                </div>
              </a>
            </div>

            <div id="settings">
              <img src="/static/css/icons/x.svg" class="close" alt="" />
              <div class="form">
                <h4>Generate commment.</h4>
                <hr />
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="formItem">
                    <label for="">Content ID :</label>
                    <input type="text" name="comID" placeholder="I D.." />
                  </div>
                  <div class="formItem">
                    <label for="">Label:</label>
                    <input
                      type="text"
                      name="label"
                      placeholder="give label.."
                    />
                  </div>
                  <div class="formItem">
                    <label for="">Main content :</label>
                    <textarea
                      name="message"
                      placeholder="Write to add to content."
                      id="writings"
                    ></textarea>
                  </div>
                  <div class="formItem">
                    <input type="submit" value="Add content" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="logoImage">
        <div class="content">
          <div class="logo">
            <img src="/static/css/icons/spy.svg" alt="" />
          </div>
          <div class="detailsInfo">
            <h4>
              Hello, dear user. Access all your perfomance datails from this
              interface.
            </h4>
            <hr />

            <h3 id="pass">Username : <span>{{uname}}</span></h3>
            <hr />
            <h3 id="pass2">Address : {{addr}}</h3>
            <hr />

            <div class="security">
              <label for="" id="refNum">Rreference number: {{refnum}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/js/set.js'%}"></script>
  </body>
</html>
