* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100vw;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background: linear-gradient(to right, silver, rgba(72, 129, 129, 0.592));
}

.transparency {
  width: 90%;
  height: 95%;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(1, 1, 1, 0.6)
  );
  backdrop-filter: blur(5rem);
  z-index: 2;
  text-align: center;
  overflow: auto;
  display: flex;
}
.transparency {
  width: 95%;
  height: 98%;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(1, 1, 1, 0.6)
  );
  backdrop-filter: blur(5rem);
  z-index: 2;
  text-align: center;
  overflow: hidden;
  display: flex;
}

.c1,
.c2 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  border-radius: 2rem;
}
.c1 {
  background: linear-gradient(
    to right,
    rgba(188, 187, 190, 0.7),
    rgba(33, 27, 27, 0.6)
  );
  top: -10%;
  left: 70%;
  animation: top 1s linear infinite;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}

.c2 {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(0, 0, 0, 0.6)
  );
  top: 40%;
  right: 70%;
  animation: down 1s linear infinite;
}
@keyframes top {
  0% {
    left: 10%;
  }
  45% {
    transform: rotateZ(35deg);
    -webkit-transform: rotateZ(35deg);
    -moz-transform: rotateZ(35deg);
    -ms-transform: rotateZ(35deg);
    -o-transform: rotateZ(35deg);
  }
  60% {
    transform: rotateZ(80deg);
    -webkit-transform: rotateZ(80deg);
    -moz-transform: rotateZ(80deg);
    -ms-transform: rotateZ(80deg);
    -o-transform: rotateZ(80deg);
  }
}

@keyframes down {
  0% {
    right: 10%;
  }
  45% {
    transform: rotateZ(35deg);
    -webkit-transform: rotateZ(35deg);
    -moz-transform: rotateZ(35deg);
    -ms-transform: rotateZ(35deg);
    -o-transform: rotateZ(35deg);
  }
  60% {
    transform: rotateZ(80deg);
    -webkit-transform: rotateZ(80deg);
    -moz-transform: rotateZ(80deg);
    -ms-transform: rotateZ(80deg);
    -o-transform: rotateZ(80deg);
  }
}
